main {
    height: 100%;
    width: 100%;
    background: var(--BG);
    display: flex;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.Left {
    height: 100%;
    width: 30%;
    border-right: 2px solid var(--Borda);
    transition: .5s ease-in-out;
}

.Left .LeftHeader .Buttons {
    width: calc(100% - 60px);
    display: flex;
    justify-content: end;
}

/**/

.Right {
    height: 100%;
    width: 70%;
    position: relative;
    transition: .5s ease-in-out;
    overflow: hidden;
}

.ConfigHeader,
.LeftHeader,
.RightHeader {
    background: var(--Header_BG);
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: .5s ease-in-out;
}

/*Right container*/
.UserPfp img,
.UserPfp {
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/*Left container*/
.Chat {
    width: 100%;
    height: calc(100% - (90px + 60px));
    overflow-y: scroll;

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.TextInput {
    background: var(--Header_BG);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.TextInput .File_Previl-Emojis {
    position: absolute;
    height: 250px;
    width: 98%;
    top: -250px;
    left: -150%;
    background: var(--Header_BG);
    border: 2px solid var(--Borda);
    border-left: none;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextInput .File_Previl-Emojis.Ativo {
    left: 0%;
}

.TextInput .File_Previl-Emojis #EmojisContainer {
    position: relative;
    top: 0;
    left: -1000;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.TextInput .File_Previl-Emojis #EmojisContainer #Container {border-bottom: 2px solid var(--Borda);}

.TextInput .File_Previl-Emojis #Midia {
    position: relative;
    top: 0;
    left: -1000;
}

.TextInput .File_Previl-Emojis .ONTop {
    position: absolute;
    top: 0px;
}

.TextInput input {
    height: 40px;
    width: 90%;
    border-radius: 10px;

    padding-right: 10px;
    padding-left: 10px;

    border: none;
    outline: none;
    background: var(--Mesage_INP_BG);
}

/*? card dos contatos*/
.Contato_Card {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid var(--Contatos_hover_BG);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.Contato_Card:hover {
    background: var(--Contatos_hover_BG);
}

.ContactPFP img,
.ContactPFP {
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.textos {
    color: var(--Textos_Normal);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.textos p {
    width: fit-content;
}

/*CNC*/
#CNC {
    display: none;
    height: 100%;
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--BG);

    position: absolute;
    top: 0;
}

#CNC input[type="file"] {
    position: absolute;
    top: -2000;
}

#CNC input[type="text"] {
    padding-right: 10px;
    padding-left: 10px;

    width: 200px;
    height: 40px;
    border-radius: 10px;

    border: none;
    outline: none;
    background: var(--Mesage_INP_BG);
}

#CNC .botoes {
    width: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

#CNC .FileButton {
    height: 40px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

